<div class="blockquote text-center">
    <h1>Panier de mon super site</h1>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th class="table-light">img</th>
            <th class="table-light">title</th>
            <th class="table-light">Quantité</th>
            <th class="table-light">prix</th>
        </tr>
    </thead>
    <!-- On cells (`td` or `th`) -->
    <tbody>
        <tr>

            <td class="table-success"><img src="http://placeimg.com/50/50/tech" alt=""></td>
            <td class="table-success">Produits 1</td>
            <td class="table-success">1</td>
            <td class="table-success">18 € 80</td>

        </tr>



        <tr>
                <td colspan="3"class="table-danger ">total</td>

                <td class="table-danger ">18 € 80</td>

                

        </tr>

    </tbody>
</table>